Bloque2/PracticaBloque2/Ejercicio4_FicheroXML/sampleXML.dtd

<!ELEMENT breakfast_menu (script,food+)>
<!ELEMENT script EMPTY>
<!ATTLIST script async NMTOKEN #REQUIRED>
<!ATTLIST script type CDATA #REQUIRED>
<!ATTLIST script src CDATA #REQUIRED>
<!ELEMENT food (name,price,description,calories)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT calories (#PCDATA)>